###The 1st question is answered at the end.
###Q.2 Take input A and B and print their sum, mul, div, square of the nos.
I have started with the 2nd question onwards.

In [ ]:
A =int (input('first value: '))
B =int (input('second value: '))
print(f'''The sum of A and B is {A+B}
      The product of A and B is {A*B}
      The division of Aand B is {A/B}
      The square of A is {A**int(2)}
      The square of B is {B**int(2)}''')

first value: 30
second value: 6
The sum of A and B is 36
      The product of A and B is 180
      The division of Aand B is 5.0
      The square of A is 900
      The square of B is 36

#### another answer of the 2nd question

In [ ]:
 A = int (input('First value: '))
 B = int (input('Second value: '))
 print(A+B)
 print(A*B)
 print(A/B)
 print(A**int(2))
 print(B**int(2)) # this gives the square value.(power of 2 with base B)

First value: 30
Second value: 6
36
180
5.0
900
36

###Q.3. How many reserve keywords are there in python and why we should not use them as a variable name.
Answer 3. 
There are 33 reserved keywords in python. These words should not be used as a variable name, function name or any other identifier because they are specially defined by the python for specific purpose.
The program is designed such that , whenever it reads a reserved keyword, it executes it as per the command. If we tamper the command by any means, next time the system can't recognize the reverse keyword and shows error.

###Q.4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com
Answer 4.

In [ ]:
last_name= input('my last name:')
first_name=input('my first name:')
print(f"{last_name}.{first_name}@gmail.com")

my last name:nayak
my first name:shubhra
nayak.shubhra@gmail.com

### Q.5. Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

####Answer 5

In [ ]:
print("Hi, I am Sunny")

Hi, I am Sunny

In [ ]:
print("My address is 22/3")

My address is 22/3

In [ ]:
print("I earn 20$ daily")

I earn 20$ daily

###Q.6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

#### Answer 6

In [ ]:
# These details will be used for the college admission purpose.
Student_1_name= input('candidate 1:')
Student_2_name= input('candidate 2:')
Student_1_address= input('add 1:')
Student_2_address= input('add 2:')
Student_1_dob= input('dob 1:')
Student_2_dob= input('dob 2:')
print(f'''All of your mail ids are provided as per your inputs
{Student_1_name}.{Student_1_address}{Student_1_dob}@gmail.com
{Student_2_name}.{Student_2_address}{Student_2_dob}@gmail.com''')

candidate 1:ahmed
candidate 2:rishav
add 1:blr
add 2:hyd
dob 1:03/08/1995
dob 2:04/11/1996
All of your mail ids are provided as per your inputs
ahmed.blr03/08/1995@gmail.com
rishav.hyd04/11/1996@gmail.com

###Q.7.Convert the following -
"22.4" into integer
"22" into complex no.

#### Ans. 7

In [ ]:
A= 22.4
B =int(A)

print(B)

22

In [ ]:
A= 22
B= complex(A)
print(B)

(22+0j)

###Q.1. ##Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

#### Ans 1

1. Most of the error includes in the syntax. Such as missing the parenthesis like () in the print statement and quotes "" in the strings.
  Ex: a= shubhra
      print(a)

2. Sometimes, we start the quote but forget to end it.
  Ex: print('Hello, everyone) #It shows syntax error

3. In a print statement, keeping double quote inside another double quote shows error. We can solve it by keeping a double quote inside a single quote or vice versa.

  Ex: print('my name is "shubhra"')

4. Forgetting that variable names are case sensitive. 
Ex: treating Name and name as the same one.

5. Trying to add a string and an integer. Sometimes we forget that, an integer inside a quote becomes a string.
Ex: a= '56' # it's a string.
    b= 67
    adding '56' + 67 gives error.

6. Using a reserved keyword for variable name. It will show an error.
Ex: print= 56
print(print)

7. While multiassigning the values to the variables,we might end up giving less number of values than required.It will show an error saying 'not enough values to unpack'.
Ex: a,b,c= 10,20

8. Writing a wrong syntax while converting the input into int.
the syntax might be :
Ex:  a = input(int('the value of a'))

9. Trying to convert a string into a float. Some data types are not convertible.
Ex: 'shubhra' can't be written as a decimal .

10. Typing capital p for print function in hurry.
Ex: Print('hello')