# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [40]:
#Q.1. Find the largest number from the given list, use for loop
numbers = [12, 75, 150, 180, 145, 525, 50]
largest_num=numbers[0]
for i in numbers:
    if i>largest_num:
      largest_num=i
      print(largest_num)

75
150
180
525

In [41]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest =max(numbers)
print(largest)

525

In [ ]:
#Q.2. Print all the even number between (1, 12).
for i in range(1,12):
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10

In [23]:
#Q.3. Calculate the sum of all numbers from 1 to a given number
#Expected Output:
#Enter number 10
#Sum is:  55
n =int(input('enter a number: '))
for i in range(1,n+1):
  x= i*(i+1)//2
  print(f'The sum of the number 1 to {i} is:{x}')

enter a number: 10
The sum of the number 1 to 1 is:1
The sum of the number 1 to 2 is:3
The sum of the number 1 to 3 is:6
The sum of the number 1 to 4 is:10
The sum of the number 1 to 5 is:15
The sum of the number 1 to 6 is:21
The sum of the number 1 to 7 is:28
The sum of the number 1 to 8 is:36
The sum of the number 1 to 9 is:45
The sum of the number 1 to 10 is:55

In [ ]:
#Q.4. Write a program to display only those numbers from a list that satisfy the following conditions
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
#The number must be divisible by five
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i%5==0:
   print(i)
   print('this number is divisible by five')

75
this number is divisible by five
150
this number is divisible by five
180
this number is divisible by five
145
this number is divisible by five
525
this number is divisible by five
50
this number is divisible by five

In [6]:
#If the number is greater than 150, then skip it and move to the next number
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i<150:
    print(i)
  continue

12
75
145
50

In [17]:
#If the number is greater than 500, then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
   if i<500:
     print(i)

12
75
150
180
145
50

In [ ]:
#Q.5. Print the given list in reverse order.
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]