# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [1]:
#Q.1 . Count the number of times iNeuron appears in the string.
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text.count('iNeuron')

3

In [2]:
#Q.2 . Check if position 5 to 11 ends with the phrase iNeuron. in the string
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
txt[5:11]
# to call ineuron we need to give -8 to -1 index.

', welc'

In [5]:
#Q.3 . Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.
name='Little Shubhra Nayak'
first_name=name[0]
middle_name=name[7]
Last_name=name[15:]

print(f'your name is : {first_name}.{middle_name}.{Last_name}')

your name is : L.S.Nayak

In [7]:
#Q.4 . Join all items in a list into a string, using a hash(#) character as separator:
LIST = ["My", "name", "is", "Rishav", "Dash"]
print(f'your required output is:  {LIST[0]}#{LIST[1]}#{LIST[2]}#{LIST[3]}#{LIST[4]}')

your required output is:  My#name#is#Rishav#Dash

In [12]:
#Q.5 .Write example for the following string manipulation function
#isdecimal()
# islower()
# isupper()
# isalpha()
# isnumeric()
word='678'

word.isdecimal()

True

In [13]:
name='shubhra'  #all the characters must be in the lower case
name.islower()

True

In [14]:
name_1='LITTLE SHUBHRA' #all the characters must be in the upper case
name_1.isupper()

True

In [15]:
name_2='shubhra897' #all the characters must be alphabet otherwise it is false
name_2.isalpha()

False

In [16]:
name_2='shubhra897' #all the charactrs must be numericals otherwise it is false
name_2.isnumeric()

False

In [18]:
word_2='44564'
word_2.isnumeric()

True

In [22]:
#Q.6. Indian PAN card format follows the following formats -
#AYEPC7894X
#ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.
user=input('enter your PAN CARD number:')
last=user[9]
num=user[6:10]

if user.isalnum and len(user)==10 and last.isalpha and num.isdigit:
   print('You have entered a valid PAN number')
else:
  print('Your have entered an invalid PAN number')
  print('please enter a valid PAN number')

enter your PAN CARD number:BJMNP2345W
You have entered a valid PAN number